# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# Optionnel (décommenter si vous ajoutez des outils)
# node_modules/
# .env
# dist/

# SQLite (admin)
admin/prisma/*.db
admin/prisma/*.db-journal
node_modules
